header {
	position: relative;
}

.container {
	margin: 0 auto;
	width: 940px;
	vertical-align: middle;

}

.destaque {
	margin-top: 10px;
}

.sacola {
	background: url(../img/sacola.png) no-repeat right top;
	font-size: 14px;
	padding-top: 8px;
	padding-right: 35px;
	text-align: center;
	width: 150px;
	position: absolute;
	top: 0;
	right: 0;
}
 
.menu-departamentos {
	background-color: #dcdcdc;
	font-weight: bold;
	text-transform: uppercase;
	margin-right: 10px;
	width: 230px;
	clear: left;
	margin-top: 10px;
	padding-bottom: 10px;
}

.menu-departamentos li {
	background-color: white;
	margin-bottom: 1px;
	padding: 5px 10px;
}

.menu-departamentos a {
	color: #7173F5;
	text-decoration: none;
}

.menu-departamentos, .busca {
	float: left;
}

.busca input {
	vertical-align: middle;
}

.busca h2, .busca form, .menu-departamentos h2 {
	margin: 10px;
}

.painel {
	margin: 10px 0;
	padding: 10px;
	width: 445px;
}

.painel li {
	display: inline-block;
	vertical-align: top;
	width: 140px;
	
	margin: 2px;
	padding-bottom: 10px;
}

.painel h2 {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;

	margin-bottom: 10px;
}

.painel a {
	color: #333;
	font-size: 14px;
	text-align: center; 
	text-decoration: none;
}

.novidades {
	background-color: #f5dcdc;	
	float: left;
}

.mais-vendidos {
	background-color: #dcdcf5;
	float: right;
}

footer {
	background-image: url(../img/fundo-rodape.png);
	clear: both;
	padding: 15px 0;
	margin-top: 6px;
}

footer .container {
	position: relative;
}

.social {
	position: absolute;
	top: 12px;
	right: 0;
}

.social li {
	color: white;
	display: inline-block;
}

.social li a {
	width: 32px;
	height: 32px;
	text-decoration: none;
	display: block;
	margin-left: 8px;
}


.social a[href*="facebook.com"] {
	background-image: url(../img/facebook.png);
}

.social a[href*="twitter.com"] {
	background-image: url(../img/twitter.png);
}

.social a[href*="plus.google.com"] {
	background-image: url(../img/googleplus.png);
}

